StockServiceWebClient/Service References/StockService/StockService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="StockService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IStockDirectory_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9000/StockService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9000/StockService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9000/StockService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/StockServiceContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStockDirectory_OrderStock_InputMessage">
    <wsdl:part name="parameters" element="tns:OrderStock" />
  </wsdl:message>
  <wsdl:message name="IStockDirectory_OrderStock_OutputMessage">
    <wsdl:part name="parameters" element="tns:OrderStockResponse" />
  </wsdl:message>
  <wsdl:message name="IStockDirectory_GetOrderStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderStatus" />
  </wsdl:message>
  <wsdl:message name="IStockDirectory_GetOrderStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IStockDirectory_ExecuteOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteOrder" />
  </wsdl:message>
  <wsdl:message name="IStockDirectory_ExecuteOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IStockDirectory_GetPendingOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPendingOrders" />
  </wsdl:message>
  <wsdl:message name="IStockDirectory_GetPendingOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPendingOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="IStockDirectory_GetClientHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClientHistory" />
  </wsdl:message>
  <wsdl:message name="IStockDirectory_GetClientHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientHistoryResponse" />
  </wsdl:message>
  <wsdl:portType name="IStockDirectory">
    <wsdl:operation name="OrderStock">
      <wsdl:input wsaw:Action="http://tempuri.org/IStockDirectory/OrderStock" message="tns:IStockDirectory_OrderStock_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStockDirectory/OrderStockResponse" message="tns:IStockDirectory_OrderStock_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrderStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IStockDirectory/GetOrderStatus" message="tns:IStockDirectory_GetOrderStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStockDirectory/GetOrderStatusResponse" message="tns:IStockDirectory_GetOrderStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IStockDirectory/ExecuteOrder" message="tns:IStockDirectory_ExecuteOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStockDirectory/ExecuteOrderResponse" message="tns:IStockDirectory_ExecuteOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPendingOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/IStockDirectory/GetPendingOrders" message="tns:IStockDirectory_GetPendingOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStockDirectory/GetPendingOrdersResponse" message="tns:IStockDirectory_GetPendingOrders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClientHistory">
      <wsdl:input wsaw:Action="http://tempuri.org/IStockDirectory/GetClientHistory" message="tns:IStockDirectory_GetClientHistory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStockDirectory/GetClientHistoryResponse" message="tns:IStockDirectory_GetClientHistory_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IStockDirectory" type="tns:IStockDirectory">
    <wsp:PolicyReference URI="#NetTcpBinding_IStockDirectory_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="OrderStock">
      <soap12:operation soapAction="http://tempuri.org/IStockDirectory/OrderStock" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderStatus">
      <soap12:operation soapAction="http://tempuri.org/IStockDirectory/GetOrderStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteOrder">
      <soap12:operation soapAction="http://tempuri.org/IStockDirectory/ExecuteOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPendingOrders">
      <soap12:operation soapAction="http://tempuri.org/IStockDirectory/GetPendingOrders" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientHistory">
      <soap12:operation soapAction="http://tempuri.org/IStockDirectory/GetClientHistory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StockService">
    <wsdl:port name="NetTcpBinding_IStockDirectory" binding="tns:NetTcpBinding_IStockDirectory">
      <soap12:address location="net.tcp://localhost:8700/StockService/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8700/StockService/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-5B2GBV7\diogo</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>