StockServiceClient/Service References/StockService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9000/StockService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/StockServiceContracts" />
  <xs:element name="OrderStock">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="company" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="quantity" type="xs:int" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/StockServiceContracts" minOccurs="0" name="type" type="q1:StockOrder.OrderType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderStockResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/StockServiceContracts" minOccurs="0" name="OrderStockResult" nillable="true" type="q2:StockOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/StockServiceContracts" minOccurs="0" name="GetOrderStatusResult" type="q3:StockOrder.OrderState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="stockValue" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteOrderResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPendingOrders">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPendingOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/StockServiceContracts" minOccurs="0" name="GetPendingOrdersResult" nillable="true" type="q4:ArrayOfStockOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientHistory">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/StockServiceContracts" minOccurs="0" name="GetClientHistoryResult" nillable="true" type="q5:ArrayOfStockOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>